# --- PostgreSQL ---
POSTGRES_USER=bdt
# Generate a DB password with `openssl rand -hex 32` (without characters that could break Prisma), you can leave it as it is for local development
POSTGRES_PASSWORD=bdt
POSTGRES_DB=bdt

# --- App ---
# Public URL, used by Caddy for proxying requests through HTTPS
APP_URL=https://localhost

# --- Bungie.net ---
BUNGIE_API_KEY=
BUNGIE_CLIENT_ID=
BUNGIE_CLIENT_SECRET=

# --- Session ---
# Cipher used to generate sessions and cookies, generate one with :
#   openssl rand -hex 32
SESSION_SECRET=
