# --- Domain and certificates signing ---
# The domain name from where the application will be accessible
APP_DOMAIN=
# Email address used for Let's Encrypt renewal notices
ACME_EMAIL=

# --- PostgreSQL ---
POSTGRES_USER=bdt
# Generate a DB password with `openssl rand -hex 32`
POSTGRES_PASSWORD=
POSTGRES_DB=bdt

# --- Bungie.net ---
BUNGIE_API_KEY=
BUNGIE_CLIENT_ID=
BUNGIE_CLIENT_SECRET=

# --- Session ---
# Cipher used to generate sessions and cookies, generate one with :
#   openssl rand -hex 32
SESSION_SECRET=
